//COLORS !!!!
$yellow: #ffda89;
$orange: #ffa471;
$red: #ff656b;
$purple: #400c49;
$blue: #004980;
$green: #00c2b2;
$white: #ffffff;


$text-color: #000;
$quiet-color: #ccc;
$loud-color: $blue;
$heading-color: $blue;

$selection-background-color: $purple;
$selection-text-color: $white;

$link-color: $red;
$link-hover-color: $orange;
$link-visited-color: $yellow;